
/*lable标签的大小、位置、背景颜色更改，在css选择时，“+”代表相邻元素，即当前元素的下一元素*/
#color-input-red + label {
    display: block;
    width: 0.9375rem;
    height: 0.9375rem;
    cursor: pointer;
    position: absolute;
    top: 0.1875rem;
    left: 0.1875rem;
    background: rgba(229, 229, 229, 1);
;
}
/*当input框为选中状态时，lable标签的样式，其中在css选择时，“：”表示当前input框的值，即checked； 该部分主要对显示的“对号”的大限居中方式，显示颜色进行了设置*/
#color-input-red:checked + label::before {
    display: block;
    content: "\2714";
    text-align: center;
    font-size: 0.1875rem;
    color: white;
    background: rgba(26, 164, 245, 1);
;
}
/*波浪部分*/
.water-group {
    margin-top: -0.1875rem;
    position: relative;
    height: 15.625rem;
    width: 100%;
    overflow: hidden;
    z-index: 888;
    background: linear-gradient(to bottom, #1AA4F5, #0081cc);
}
.water-group .water {
    position: absolute;
    width: 400%;
    height: 100%;
    background-size: 90% 100%;
}
.water-group .water1 {
    background-image: url('../../assets/images/wave-top.png');
    top: 1.25rem;
    left: -300%;
    opacity: 0.2;
    animation: water-right 10s infinite linear;
}
.water-group .water2 {
    background-image: url('../../assets/images/wave-mid.png');
    top: 1.875rem;
    left: 0;
    opacity: 0.3;
    animation: water-left 20s infinite linear;
}
.water-group .water3 {
    background-image: url('../../assets/images/wave-bot.png');
    top: 2.8125rem;
    left: -200%;
    opacity: 0.3;
    animation: water-right 30s infinite linear;
}
@keyframes water-right {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(25%) translateZ(0) scaleY(0.92)
    }
    100% {
        transform: translateX(50%) translateZ(0) scaleY(1)
    }
}
@keyframes water-left {
    from {
        transform: translate(0%, 0rem);
    }
    to {
        transform: translate(-75%, 0rem);
    }
}